body {
  margin-top: 2rem;
  /* background-image: url("../imgs/pogs.jpg");
  background-size: cover;
  background-position: center; */
}

img {
  width: 100%;
}

.container {
  text-align: center;
  width: auto;

}

.gallery img {
  transition: 0.5s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  float: grayscale(100%);
  transform: scale(1.1);
}

p {
  font-size: 18px;
  background-color: rgba(191, 191, 191, 0.3);
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 10px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2rem;
}
